/**
    Ref:  https://www.w3schools.com/css/css3_animations.asp
 */

 img.atv {
  position: relative;

  // background-color: black;

  width: 3em;
  height: auto;

  z-index: -1;

  perspective-origin: 50% 50%;
  perspective: none;
  transform-style: preserve-3d;
  transform-origin: left bottom;

  animation-name: atv_ani;
  animation-duration: 4s;

  // animation-timing-function: ease;
  animation-timing-function: linear;

  // animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes atv_ani {
  0%   {
    // transform: rotateZ(0deg); z-index: 1; left:0%; top:0px;
    // z-index: 1; transform: rotateZ(0deg) translate3d(0em, 0em, 0em);
    z-index: 1; transform: rotateZ(0deg); left:0em;
  }
  // 10%  {
  //   z-index: 1; transform: rotateZ(-45deg); left:0em;
  // }
  20%  {
    z-index: 1; transform: rotateZ(-45deg); left:5em;
  }
  // 25%  {
  //   z-index: 1; transform: rotateZ(-45deg); left:8em;
  // }
  30%  {
    z-index: 1; transform: rotateZ(-45deg); left:8em;
  }
  35%  {
    z-index: 1; transform: rotateZ(0deg); left:8em;
  }
  45%  {
    z-index: 1; transform: rotateZ(0deg); left:16em;
  }
  48%  {
    z-index: 1; transform: rotateZ(-45deg); left:16em;
  }
  50%  {
    z-index: 1; transform: rotateZ(-45deg); left:16em;
  }
  57%  {
    // z-index: 1; transform: rotateZ(-45deg); left:16em;
    // z-index: 1; transform: rotateZ(-45deg) rotateY(60deg); left:16em;
    // z-index: 1; transform: rotateZ(-45deg) rotatex(80deg); left:16em;
    z-index: 1; transform: rotateZ(0deg) rotateY(180deg); left:16em;
  }
  60%  {
    z-index: -1; transform: rotateZ(22deg) rotateY(180deg); left:16em;
  }
  65%  {
    z-index: -1; transform: rotateZ(45deg) rotateY(180deg); left:16em;
  }
  70%  {
    z-index: -1; transform: rotateZ(45deg) rotateY(180deg); left:8em;
  }
  80%  {
    z-index: -1; transform: rotateZ(0deg) rotateY(180deg); left:8em;
  }
  85%  {
    z-index: -1; transform: rotateZ(0deg) rotateY(180deg); left:5em;
  }
  90%  {
    z-index: -1; transform: rotateZ(45deg) rotateY(180deg); left:0em;
  }
  95%  {
    z-index: -1; transform: rotateZ(22deg) rotateY(90deg); left:0em;
  }
  100%  {
    z-index: 1; transform: rotateZ(0deg); left:0em;
  }
}
